@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Playwrite+IS:wght@100..400&family=Playwrite+PL:wght@100..400&family=Playwrite+SK:wght@100..400&display=swap');

h1 {
    font-family: "Agbalumo", system-ui;
}

.cata {
    font-family: "Agbalumo", system-ui;
}

.titulo-mascota  {
    font-family: "Playwrite IS", cursive;
}